The Shopping Cart lets users add, remove, and check items out.
They can add an item that wasn't already added.
The checkout process returns a receipt that holds the subtotal, tax, and total.

               Test Cases
----------------------------------------
- adding an item if not already added
    - Add item, check that duplicate items are not added
    - Add item, check that item is added correctly
- removing an item
    - Remove item, check for exception if item does not exist in store
    - Remove item, check that item is succesfully removed
- checkout
    - Test for exception when trying to checkout empty cart.
    - Check subtotal calculation.
    - Check tax calculation.
    - Check total calculation. 
