The store sells movies and lets the user rent/return them.
The store starts by adding movies to its collection.
A movie is described by its name, format, and rating.

               Test Cases
----------------------------------------
- adding a movie
    - Add a movie to store 
    - Check that movie is stored correctly
- selling a movie
    - Sell a movie, check that it is removed from inventory after sale.
    - Check that no sale is attempted when isAvailable = false. (aka. the movie is rented) 
- renting a movie
    - Rent a movie, check that status is updated after renting. (isAvailable = false)
- returning a movie
    - Return a movie, check that status is updated after return. (isAvailable = true)
